{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
    "fetch": true,
    "Promise": true,
    "__DEV__": true,
    "LOG": true,
    "WARN": true,
    "APILOG": true,
    "window": true,
    "FormData": true,
    "ErrorUtils": true
  },
  "rules": {
    "strict": 0,
    "no-console": 2,
    "no-case-declarations": 0,
    "import/order": [
      2,
      {
        "newlines-between": "always"
      }
    ],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-no-bind": 2,
    "react/no-array-index-key": 2,
    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 2,
    "import/newline-after-import": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "curly": 2,
    "require-await": 2,
    "prefer-const": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  },
  "extends": "prettier",
  "plugins": ["react", "import"]
}
