{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
    "fetch": true,
    "Promise": true,
    "__DEV__": true,
    "LOG": true,
    "WARN": true,
    "APILOG": true,
    "window": true,
    "FormData": true,
    "ErrorUtils": true
  },
  "rules": {
    "strict": 0,
    "no-console": 2,
    "no-case-declarations": 0,
    "import/order": [
      2,
      {
        "newlines-between": "always"
      }
    ],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-no-bind": 2,
    "react/no-array-index-key": 2,
    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 2,
    "import/newline-after-import": 2,
    "no-undef": 2,
    "curly": 2,
    "require-await": 2,
    "prefer-const": 2,
    "no-unneeded-ternary": 2,
    "max-params": 2,
    "max-lines": [
      2,
      {
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "complexity": [
      2,
      {
        "max": 10
      }
    ],
    "max-lines-per-function": [
      2,
      {
        "max": 60,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-return-await": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "react/react-in-jsx-scope": 2,
    "react/no-deprecated": 2,
    "react/prop-types": 0,
    "react/display-name": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx", ".ios.js", ".android.js"]
      }
    }
  },
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "import"],
  "overrides": [
    {
      "files": ["**/__tests__/**/*.js"],
      "rules": {
        "max-lines-per-function": 0
      }
    }
  ]
}
