# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*.mobileprovision
*.cer
*.DSYM.zip

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
Fastfile

.tmp/

coverage/



# CUSTOM: Remove some files from being tracked in git
**/.gradle/
**/build/
android/app/build

.env.local
.vscode/

android/app/bin/
**/.settings/
**/.project
**/.classpath
**/*.apk

# Include the test keystore so that others can build the app
# The app will need to be resigned with the REAL keystore when released
!mh-test.keystore
